* {
	font-family: sans-serif;
}

input[disabled] {
	text-decoration: line-through;
}

.hide {
	display: none;
}

.rating > span:hover {
	cursor: pointer;
}

html, body {
	height: 100%;
	margin: 10px;
	padding: 0;
}

#map {
	height: 70%;
	width: 40%;
}

td {
	padding: 0!important;
}

thead {
	background-color: #9d9d9d;
}

td,
th{
	border: 1px solid #000000!important;
}

#add {
	width: 50%;
	border-radius: 5px;
	border: 1px solid #000000;
}