div,
form {
	display: inline-block;
}

.rating > span:hover:before {
   content: "\2605";
   position: absolute;
}

.number,
input {
	width: 40px;
	height: 20px;
	text-align: center;
}

form {
	margin-bottom: 0;
	text-align: center;
	border: 2px solid #000;
}