#container.nonMessage #showMessage,
#container.Message #myForm {
	display: none;
}

#container.nonMessage #myForm,
#container.Message #showMessage {
	display: inline-block;
}

.disp-inl,
span {
	display: inline-block;
}

form {
	display: flex;
}

label,
input {
	display: block;
}

input {
	margin-bottom: 10px;
}

textarea {
	outline: none;
	resize: none;
	overflow: auto;
    height: 200px;
    margin-top: 15px;
}

p {
	font-size: 14px;
	margin-left: 10px;
	margin-bottom: 0;
}
